body {
	font-name: "Trebuchet MS";
	background-color: #d7e8ef;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.title {
	font-size: 30px;
	font-variant: small-caps;
	font-weight: bold;
}
.state {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.gender {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.edu {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.year {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.question {
	display: flex;
	flex-direction: column;
	align-items: center;
}
